@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #080D17;
}
::-webkit-scrollbar-thumb {
  background: #C9A96E;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E8C98A;
}
